# Set this to override your hostname
hostname = ''

# This should be the license_key to your Newrelic account
license_key = 'YOUR_NEWRELIC_ACCOUNT_LICENSE_KEY'

# Name of your server instance
instance_name = ''

# Polling interval of the plugin (default 60)
poll_cycle = ''
